mat-form-field {
    min-width: 200px;
    padding: 10px;
    margin: 10px;
}
td {
    min-width: 200px;
}

mat-card-actions{
    text-align: end;
}
mat-card {
    width: 90vw;
    margin: 5px;
}
 
table {
    width: 60vw;
    
}

td {
    border: 1px;
}

.container {
    width: 80vw;
    background-color: gray;
    overflow-x: scroll;
}

pre {
    height: 40vh;
    overflow-y: scroll;
}

mat-card {
    opacity: 0.9;
}